body{
    margin: 0 auto;
}
article .logo img{
    width: 65px;
    height: 65px;
    position: relative;
    left: -1250px;
    top: 10px;
    z-index: 100;
}
.bloco1 .imgf{
    position: relative;
    top: -117px;
    z-index: 1;
}
.conteudo{
    width:1907px;
}
.bloco1 .imgf img{
    margin: 0 auto;
    width: 100%;
    height: 850px;
}
header{
    margin-top: -12px;
    width: 100%;
    height: 90px;
    background-color: #1A1A1A;
    z-index: 1000;
}
header a{
    position: relative;
    top: 26px;
    text-decoration: none;
    color: #a7a4a4;
    font-size: 13px;
    z-index: 100;
}

header .p1, .p2, .p3, .p4{
    margin-right: 15px;
}
header .p2, .p3, .p4{
    margin-left: 24px;
}
header .p1{
    margin-left: 290px;
}
header .p2{
    margin-right: 780px;
}
nav a{
    position: relative;
    z-index: 50;

    font-family: Verdana, Tahoma, sans-serif;
    font-size: 15px;
    float: left;
    text-decoration: none;
    color: #6E6C72;
}
nav{
    position: relative;
    width: 750px;
    left: 840px;
    bottom: 40px;
}

nav .p1{
    margin-right: 30px;
}
nav .p4{
    margin-right: 30px;
}

.bloco1 .descricao{
    position: relative;
    z-index: 60;
    top: -750px;
    left: 400px;
    font-family: 'Courier New', Courier, monospace;
    width: 500px;
}
.bloco1 .descricao h1{
    font-size: 50px;
    font-weight: bold;
}
.bloco1 .descricao h2{
    font-size: 24px;
    font-weight: 1;
    margin-top: -30px;
}
.bloco1 .descricao h3{
    margin-top: 40px;
    margin-bottom: -30px;
}
.bloco1 .descricao h3, h4{
    font-size: 16px;
    font-weight: 1;
}

.bloco1 .sm a{
    position: relative;
    z-index: 70;
    top: -650px;
    left: 400px;
    border: black solid 1px;
    width: 200px;
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    text-decoration: none;
    color: black;
    padding: 9px;
    padding-left: 55px;
    padding-right: 55px;
}

.bloco1 .sm a:hover{
    background-color: black;
    color: white;
}





